@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/poppins-v15-latin-100.eot');
    src: local(''),
         url('../fonts/poppins-v15-latin-100.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-v15-latin-100.woff2') format('woff2'),
         url('../fonts/poppins-v15-latin-100.woff') format('woff'), 
         url('../fonts/poppins-v15-latin-100.ttf') format('truetype'), 
         url('../fonts/poppins-v15-latin-100.svg#Poppins') format('svg'); 
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v15-latin-regular.eot');
    src: local(''),
         url('../fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'),
         url('../fonts/poppins-v15-latin-regular.woff') format('woff'), 
         url('../fonts/poppins-v15-latin-regular.ttf') format('truetype'), 
         url('../fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); 
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v15-latin-600.eot');
    src: local(''),
         url('../fonts/poppins-v15-latin-600.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-v15-latin-600.woff2') format('woff2'),
         url('../fonts/poppins-v15-latin-600.woff') format('woff'), 
         url('../fonts/poppins-v15-latin-600.ttf') format('truetype'), 
         url('../fonts/poppins-v15-latin-600.svg#Poppins') format('svg'); 
  }

body{
    font-family: "Popins", "Areal", "sans-serif";
    font-size: 15px;
    margin: 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 98%);
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.header{
    padding-top: 50px;
}

.header-container{
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title{
    font-size: 36px;
    color: #8E8D93;
    line-height: 48px;
    font-weight: 100;
}

.bold{
    font-weight: 600;
    color: #4D4E60;
}

.info{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #AAAAAC;
}

.main-container{
    display: flex;
    margin-top:80px;
    margin-bottom: 50px;
}

.cards{
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 8px 8px 8px #f1f0f0;
    background-color: #fff;
    margin: 15px;
}

.supervisor{
    border-top: 4px solid #5FC5C7;
}

.builders{
    border-top: 4px solid hsl(0, 78%, 62%);
    margin-bottom: 30px ;
}

.karma{
    border-top: 4px solid hsl(34, 97%, 64%);
}

.calculator{
    border-top: 4px solid hsl(212, 86%, 64%);
}

.calculator, .supervisor{
    margin: auto 20px;
}

.cards::after{
    content: "";
    display: block;
    background-repeat: no-repeat;
    width:  85px;
    height: 85px;
    margin-left: 220px;
    margin-top: 40px;
} 


.supervisor::after{
    background-image: url(../images/icon-supervisor.svg);
}

.builders::after{
    background-image: url(../images/icon-team-builder.svg);
    margin-top: 30px;
}

.karma::after{
    background-image: url(../images/icon-karma.svg);
}

.calculator::after{
    background-image: url(../images/icon-calculator.svg);
    margin-top: 30px;
}

.card-title{
    font-size: 20px;
    font-weight: 600;
}

.card-text{
    margin-top: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #ADACB1;
}

.footer-container{
    display: flex;
    justify-content: center;
}
